
# Used for Jupyter Notebooks
jupyter 
notebook
langchain
sentence-transformers
iris
langgraph
langchain-openai
fhirpy
fhir.resources
python-docx
openai
difflib
python-dotenv
# Others
pandas
numpy
tqdm
