
# Used for Jupyter Notebooks
jupyter 
notebook
langchain
sentence-transformers
langgraph
langchain-openai
fhirpy
fhir.resources
python-docx
openai
difflib
intersystems-irispython

# Others
pandas
numpy
tqdm
python-dotenv
openpyxl
